#preloader {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
#front-3.active {
  visibility: hidden;
}

.front-3.flipping {
  visibility: hidden;
}

#front-4.active {
  display: block;
}

#boots9.active {
  display: block;
}
#boots8.active {
  visibility: hidden;
}
